@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

*{
  padding: 0
  margin:0
}

.cabecalho {
  padding: 5% 0 0 5%;
}

.cabecalho__menu {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.cabecalho__menu__link {
  font-family: 'Tilt Neon', cursive;
  font-size: 24px;
  font-weight: 600px;
  color: var(--cor-destaque);
  text-decoration: none;
}
body{
  background-color: black;
  color: whitesmoke;
}


  .apresentacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-family: 'Tilt Neon', cursive;
  }

  .apresentacao__imagem {
    width: 100%;
    padding: 0%;
  }

  .apresentacao__texto{

  font-size: 40px;
  padding: 5% 5%;
  }
 details > summary {
  color: black
 padding: 4px;
 width: 200px;
 background-color: #white;
 border: none;
 box-shadow: 1px 1px 2px #bbbbbb;
 cursor: pointer;
 }

 details > .test {
   color: black
   background-color: #eeeeee;
  padding: 4px;
  margin: 0;
  box-shadow: 1px 1px 2px #bbbbbb;
 }

 details:hover {
   cursor: auto;
 }
