@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
/* font-family: 'Tilt Neon', cursive; */
*{
  padding: 0;
  margin: 0;
  font-family: 'Tilt Neon', cursive;
}

/* PAINEL LATERAL */
a{ 
text-decoration: none;
}
ul {
  list-style: none;
}
input[type="checkbox"]{
display: none;
}
.cabecalho_nav {
  background-color: rgb(16, 16, 16, 0.5);
  width: 350px;
  height: 850px;
  position: absolute;
  left: -350px; 
  transition: all .5s;
}

.lista_link{
  display: block;
  padding: 20px 5px;
  color: white;
}

.lista_link:hover{
  background-color: rgb(176,224,230);
  color: black;
}

label[for="bt_menu"]{
  padding: 15px;
  position: absolute;
  z-index: 1;
}

.cabecalho_menu{
  position: absolute;
  top: 70px;
  width: 100%;
}
input[type="checkbox"]:checked ~ nav {
  transform: translateX(350px);
}

/* PAINEL PRINCIPAL */

.menu{
	width:100%;
	height:46px;
	background-color: rgb(16, 16, 16, 0.5);

	}

.menu>ul{
	list-style:none;
	position:relative;
	margin-left:50px;
 
	}
.menu ul li{
		width:150px;
		float:left;
	}

.menu a{
	padding:15px;
	display:block;
  text-decoration: none;
	
	text-align:center;
  color: white;
  height: 100%px;
	}
.menu ul ul{
	list-style:none;
	position:absolute;
	visibility:hidden;
	}
.menu ul li:hover ul{
	visibility:visible;
	}

.menu a:hover{
	background-color: rgb(176,224,230);
  color: black;
	}

.menu ul ul li{
	float:none;
	border-bottom: solid 1px #ccc;
	}
.menu ul ul li a{
	background-color:#069;
	}